@import "tailwindcss";

@theme {
    --tracking-ch: 1ch;
}

@utility container {
    margin-inline: auto;
    padding-inline: 20px;

    @variant sm {
        padding-inline: 24px;
    }

    @variant lg {
        padding-inline: 32px;
    }

    @variant xl {
        padding-inline: 40px;
    }
}

::selection {
    @apply bg-red-600 text-neutral-50;
}

a {
    @apply underline;
}

/* Animations */

.fadeIn {
    animation: fadeIn 500ms ease-in-out 500ms forwards;
}

.fadeOut {
    animation: fadeOut 500ms ease-in-out 500ms forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

/* Form */

.hbspt-form {
    @apply flex items-center;
}

form {
    @apply flex flex-col gap-2 accent-red-600 w-full;
}

fieldset {
    max-width: 100% !important;
}

.form-columns-2 {
    @apply flex gap-[2%];
}

.input {
    margin-right: 0 !important;
}

.hs-input:not([type="checkbox"]) {
    width: 100% !important;
    @apply min-h-10;
}

input,
select,
.hs-dropdown,
.hs-form-checkbox span {
    @apply bg-neutral-50/10 text-neutral-50 border border-neutral-50/10 px-2;
}

select {
    @apply appearance-none;
}

option {
    @apply text-slate-950;
}

.inputs-list {
    @apply flex flex-wrap gap-2;
}

.hs-form-checkbox input[type="checkbox"] {
    @apply hidden;
}

.hs-form-checkbox input[type="checkbox"]:checked+span {
    @apply bg-red-600 text-neutral-50;
}

.hs-form-checkbox span {
    @apply block cursor-pointer;
}

.hs-form-checkbox span:hover {
    @apply bg-neutral-50/20;
}

.hs-button {
    @apply w-full bg-red-600 text-neutral-50 border border-red-600 min-h-10;
}

.hs-form-required {
    @apply text-red-500;
}

.hs-error-msg,
.hs-main-font-element {
    @apply text-neutral-50/50 text-sm;
}

/* Table */

caption {
    caption-side: bottom;
}

th,
td {
    @apply border border-slate-200 p-2;
}

tr>td:first-of-type {
    @apply md:whitespace-nowrap;
}