---
interface Props {
  title: string;
  time: string;
}

const { title, time } = Astro.props;
---

<div class="bg-slate-200 p-2 h-full min-w-64">
  <h3 class="font-bold">{title}</h3>
  <slot />
  <p><small>{time}</small></p>
</div>
