<nav
  class="sticky top-0 bg-primary text-neutral-50 py-2 flex justify-center gap-5 z-50"
>
  <a href="#ponentes">Ponentes</a>
  <a href="#">Empresas</a>
  <a href="#agenda">Agenda</a>
  <a href="#">¡Apúntate!</a>
</nav>
