---
import Event from "../components/Event.astro";
import Section from "../components/Section.astro";
---

<Section title="Agenda" light>
  <div role="region" tabindex="0" class="container overflow-auto w-full">
    <table class="h-full w-full border-spacing-px border-collapse">
      <thead>
        <tr>
          <th>HORARIO</th>
          <th align="center" style="width: 33.333%;">ESPACIO 1</th>
          <th align="center" style="width: 33.333%;">ESPACIO 2</th>
          <th align="center" style="width: 33.333%;">ESPACIO 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>9:00 - 9:30h.</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>9:30 - 10:00h.</td>
          <td><Event title="Bienvenida" time="10:00 - 10:30 (30mins)" /></td>
          <td></td>
          <td
            ><Event
              title="Sala hacker - secur0"
              time="9:30 - 10:00 (30mins)"
            /></td
          >
        </tr>
        <tr>
          <td>10:00 - 10:30h.</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>10:30 - 11:00h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>11:00 - 11:30h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>11:30 - 12:00h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>12:00 - 12:30h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>12:30 - 13:00h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>13:00 - 13:30h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>13:30 - 14:00h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>14:00 - 14:30h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>14:30 - 15:00h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>15:00 - 15:30h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>15:30 - 16:00h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>16:00 - 16:30h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>16:30 - 17:00h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>17:00 - 17:30h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>17:30 - 18:00h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>18:00 - 18:30h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>18:30 - 19:00h.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>19:00 - 19:30h.</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <caption class="text-slate-400 text-left mt-2"
        >* La agenda puede sufrir cambios.</caption
      >
    </table>
  </div>
</Section>
