---
import Image from "astro/components/Image.astro";
import HubImage from "../assets/hub.webp";
import Section from "../components/Section.astro";
---

<Section title="Audiencia">
  <div class="container grid lg:grid-cols-3 lg:gap-10">
    <div>
      <span class="text-6xl font-bold text-red-600">35%</span>
      <h2 class="text-2xl font-light uppercase">
        <strong>Talento Junior</strong>
      </h2>
      <span>0 a 3 años</span>
      <p class="text-slate-400">
        Talento Junior con su etapa formativa finalizada -o realizando posgrado-
        que ya han tenido algunas experiencias profesionales y seguir
        adquiriendo conocimiento en las primeras etapas de su carrera
        profesional.
      </p>
    </div>
    <div>
      <span class="text-6xl font-bold text-red-600">45%</span>
      <h2 class="text-2xl font-light uppercase">
        <strong>Talento intermedio</strong>
      </h2>
      <span>3 a 8 años</span>
      <p class="text-slate-400">
        Talento Intermedio con algunos años de experiencia que desean seguir
        creciendo en sus carreras profesionales asumiendo mayor responsabilidad
        y nuevos desafíos tecnológicos.
      </p>
    </div>
    <div>
      <span class="text-6xl font-bold text-red-600">35%</span>
      <h2 class="text-2xl font-light uppercase">
        <strong>Talento experimentado</strong>
      </h2>
      <span>8+ años</span>
      <p class="text-slate-400">
        Talento Experimentado que desea elevar su nivel de responsabilidad,
        gestionando equipos o bien a través de procesos de upskilling y
        reskilling que les permitan situarse de forma más competitiva.
      </p>
    </div>
  </div>
  <Image
    src={HubImage}
    alt="Buscan Talento"
    class="absolute top-0 right-0 -z-10 w-full h-full object-cover opacity-10"
  />
</Section>
