---
import Section from "../components/Section.astro";
---

<Section title="¿Dónde" subtitle="estamos?" light>
  <div class="container">
    <img
      src="https://immune.institute/wp-content/uploads/campus.svg"
      alt="Campus IMMUNE"
      width="1280"
      height="512"
      loading="lazy"
      class="w-full h-auto mb-10"
    />
    <ul>
      <li>
        Trenes de cercanías: <strong>C2, C3, C3a, C4, C7, C8 y C10</strong>
      </li>
      <li>Línea de metro Nuevos ministerios: <strong>6, 8 y 10</strong></li>
      <li>Línea de metro Santiago Bernabéu: <strong>10</strong></li>
      <li>
        Líneas de autobuses: <strong
          >5, 7, 14, 27, 40, 126, 147, 149, 150, N22 y N24</strong
        >
      </li>
      <li>Bicycle Madrid: <strong>Estación 138 y 150</strong></li>
    </ul>
  </div>
</Section>
