---
import Logo from "../assets/icons/Logo.astro";
import Background from "../components/Background.astro";
import Section from "../components/Section.astro";
---

<Section
  className="bg-slate-950 w-full min-h-dvh p-5 flex flex-col items-center justify-center text-center"
>
  <Logo />
  <h1 class="uppercase tracking-ch mb-5">Innovaci칩n, Talento y Empresas</h1>
  <p>
    Gracias a todos y todas las que nos acompa침asteis en esta edici칩n, nos vemos
    en la pr칩xima.
  </p>
  <Background />
</Section>
