---
import data from "../assets/data.json";
import Section from "../components/Section.astro";
---

<Section id="ponentes" title="Ponentes confirmados">
  <div class="flex gap-5">
    {
      data.people.map((item) => (
        <div class="w-60 shrink-0">
          <img
            src={`https://publicimmuneassets.s3.eu-west-1.amazonaws.com/people/${item.photo}.webp`}
            alt={item.name}
            width="240"
            height="240"
            loading="eager"
            class="saturate-0"
          />
          <h3>{item.name}</h3>
          <p>
            <small>{item.position}</small>
          </p>
        </div>
      ))
    }
  </div>
</Section>
